* {
  box-sizing: border-box; /* hiermee wordt er bepaalt hoe de boxen worden gemeten*/
}
/* style de body*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cadetblue;
}

/* Style de header */
header {
  background-color:lightsteelblue;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Hiermee onstaan 2 boxen die naats elkaar floaten( eentje is de menubalk en de ander het hoofdartikel) */
nav {
  float: left;
  width: 20%;
  height: 600px;
  background:  rgb(238, 255, 175);
  padding: 20px;
}

ul {
  float:
    list-style-type: none;
    margin: 0; /* ruimte tussen een elemenet en andere elementen*/
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 255, 175);
  }

 
  /* Style de lijst in het menu*/
  li a {
    display: block;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) { /* dit is het blokje dat je ziet als je met je muis over de items in het menu gaat*/
    background-color: rgba(0, 0, 2, 0.58);
  }
  

nav ul {
  list-style-type: none;
  padding: 0;
}
/* geeft vorm aan de tekst in het article*/
article {
  float: left; /* zorgt ervoor dat het aan de linkerkant komt te staan*/
  padding: 20px; /* zorgt ervoor dat er 20 pixels omheen zitten als padding*/
  width: 80%; /* de breedte*/
  background-color:cadetblue;
}

/* zorgt ervoor dat de kolommen de juiste positie behouden */
section::after {
  content: "";
  display: table; /* bepaalt op welke manier de browser weergeven wordt*/
  clear: both;
}

/* Style de footer */
footer {
  background-color:lightsteelblue;
  padding: 10px;
  text-align: center;
  color: white;
}
/* Stijlen voor de navbar, die de algemene opmaak van de navigatiebalk definiëren */

.navbar{
  overflow: hidden;
  background-color: cadetblue;/* Achtergrondkleur van de navbar */
}
/* Stijlen voor de koppelingen binnen de navbar */

.navbar a {
  float: left;/* Links uitlijnen van de koppelingen */
  font-size: 22px;/* Lettergrootte */
  color:white; /* Tekstkleur */
  text-align: center;/* Tekst centreren */
  padding: 14px 16px;/* Binnenste opvulling van de koppelingen (boven/onder en links/rechts) */
  text-decoration: none; /* Geen onderstreping */
  border-right: 3px black;/* Rechterrand met zwarte lijn */
  font-family: Verdana, Geneva, Tahoma, sans-serif;/* Lettertype */

/* Stijlen voor het dropdown-menu binnen de navbar */
.dropdown {
  float: left; /* Links uitlijnen van het dropdown-menu */
  overflow: hidden;
  border-right: 3px black; /* Rechterrand met zwarte lijn */
}

/* Stijlen voor de knop van het dropdown-menu */
.dropdown .dropbtn {
  font-size: 22px; /* Lettergrootte van de knop */
  border: none;
  outline: none; /* Verwijder focusrand */
  color: white; /* Tekstkleur */
  padding: 14px 16px; /* Binnenste opvulling van de knop */
  background-color: lightsteelblue; /* Achtergrondkleur van de knop */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Lettertype */
}

/* Stijlen voor koppelingen binnen de navbar en het dropdown-menu wanneer ze worden aangeraakt (hover) */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(238, 255, 175); /* Achtergrondkleur bij hover */
  color: black; /* Tekstkleur bij hover */
}

/* Stijlen voor het dropdown-menu-inhoud */
.dropdown-content {
  display: none; /* Verberg de inhoud standaard */
  position: absolute; /* Absoluut gepositioneerd in relatie tot de bovenliggende container */
  background-color: azure; /* Achtergrondkleur van de inhoud */
  min-width: 160px; /* Minimale breedte van de inhoud */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Schaduw voor het dropdown-menu */
  z-index: 1; /* Z-index om de inhoud bovenop andere elementen te plaatsen */
}

/* Stijlen voor koppelingen binnen het dropdown-menu-inhoud */
.dropdown-content a {
  float: none; /* Herstel de zwevende uitlijning van koppelingen */
  color: white; /* Tekstkleur */
  background-color: lightsteelblue; /* Achtergrondkleur */
  padding: 12px 160px; /* Binnenste opvulling van koppelingen (boven/onder en links/rechts) */
  text-decoration: none; /* Geen onderstreping */
  display: block; /* Blokweergave om onder elkaar te plaatsen */
  text-align: left; /* Tekst links uitlijnen */
}

/* Stijlen voor koppelingen binnen het dropdown-menu-inhoud wanneer ze worden aangeraakt (hover) */
.dropdown-content a:hover {
  background-color: rgb(238, 255, 175); /* Achtergrondkleur bij hover */
  color: black; /* Tekstkleur bij hover */
}

/* Stijlen voor het weergeven van het dropdown-menu-inhoud wanneer de muis over het dropdown-menu zweeft */
.dropdown:hover .dropdown-content {
  display: block; /* Toon de inhoud wanneer de muis over het dropdown-menu zweeft */
}



}
/* bepaalt de grootte en positie van de afbeeldingen*/
#image1{
  float: right;
}
 
#image2{
   width: 350px;
    height: 200px;
    float: right;
}
#image3{
  width: 350px;
   height: 200px;
   float: right;
}

#image4{
   float: right;
}

#image5{
  
   float: right;
   
}

#image6{
  float: right;
}
#image7{
float: right;
}
#image8{
  float: right;
  }
  
#image9{
  width: 200px;
   height: 400px;
   float: right;
}
/*style de kopjes*/
.kopje{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 255, 175);
  color: black;
  padding: 10px;

}
