* {
  box-sizing: border-box; /* hiermee wordt er bepaalt hoe de boxen worden gemeten*/
}
/* style de body*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cadetblue;
}

/* Style de header */
header {
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
}


ul {
    list-style-type: none;
    margin: 0; /* ruimte tussen een elemenet en andere elementen*/
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 255, 175);
  }

 
  /* Style de lijst in het menu*/
  li a {
    display: block;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) { /* dit is het blokje dat je ziet als je met je muis over de items in het menu gaat*/
    background-color: rgba(0, 0, 2, 0.58);
  }
  

nav ul {
  list-style-type: none;
  padding: 0;
}
/* geeft vorm aan de tekst in het article*/
article {
  float: left; /* zorgt ervoor dat het aan de linkerkant komt te staan*/
  padding: 20px; /* zorgt ervoor dat er 20 pixels omheen zitten als padding*/
  width: 80%; /* de breedte*/
  background-color:cadetblue;
}

/* zorgt ervoor dat de kolommen de juiste positie behouden */
section::after {
  content: "";
  display: table; /* bepaalt op welke manier de browser weergeven wordt*/
  clear: both;
}

/* Style de footer */
footer {
  background-color:lightsteelblue;
  padding: 10px;
  text-align: center;
  color: white;
}


/* bepaalt de grootte en positie van de afbeeldingen*/
#image1{
  float: right;
}
 
#image2{
   width: 350px;
    height: 200px;
    float: right;
}
#image3{
  width: 350px;
   height: 200px;
   float: right;
}

#image4{
   float: right;
}

#image5{
  
   float: right;
   
}

#image6{
  float: right;
}
#image7{
float: right;
}
#image8{
  float: right;
  }
  
/*style de kopjes*/
.kopje{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 255, 175);
  color: black;
  padding: 10px;

}
