* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: cadetblue;
}

/* Style de header */
header {
  background-color: lightsteelblue;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Hiermee onstaan 2 boxen die naats elkaar floaten( eentje is de menubalk en de ander het hoofdartikel) */
nav {
  float: left;
  width: 20%;
  height: 600px;
  background:  rgb(238, 255, 175);
  padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 255, 175);
  }

  li {
    float: left;
  }
  /* Style de lijst in het menu*/
  li a {
    display: block;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgba(0, 0, 2, 0.58);
  }
  

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color:cadetblue;
}

/* zorgt ervoor dat de kolommen de juiste positie behouden */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style de footer */
footer {
  background-color:lightsteelblue;
  padding: 10px;
  text-align: center;
  color: white;
}


/* bepaalt de grootte en positie van de afbeeldingen*/
#image1{
  width: 320px; 
  height: 200px;
  float: right;
}
 
#image2{
   width: 350px;
    height: 200px;
    float: right;
}
#image3{
  width: 350px;
   height: 200px;
   float: right;
}

#image4{
   float: right;
}

#image5{
  
   float: left;
}
#image6{
  
   float: right;
}
/*style de kopjes*/
.kopje{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 255, 175);
  color: black;
  padding: 10px;

}
